.image {
    width: 960px;
    height: 275px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.nav{
    text-align: center;

}
.nav li{
    display: inline;

}
li a{
    text-decoration: none;
}
.card{
    display: flex;

    justify-content: center;
    
    gap: 10px;
}
 .card-body{
    width: 180px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}
.card-body img{
    height: 100%;
    width: 100%;
    
}
.para{
    margin-left: 10px;
    margin-right: 10px;
}